doctype html
html(lang="en")
  head
    title Webpack Styleguide
    link(rel="stylesheet" href="css/markdown.css")
  body
  ul
    each val, name in dirs
      li= name
        - if (typeof(val) === 'object'){
          ul
            each value, block in val
              li
                a(href="/styleguide?dir=#{name}&block=#{block}")= block
        - }
    .markdown-body
    #styleguide(style="margin-top:50px;")
    script(src="build/build.js")
