.scrollbox.scrollbox_demo(scrollbox='{ "mouseWheel": true, "scrollbars": true }')
  .scrollbox__wrapper
    each i in Array(10)
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ab magni, culpa perspiciatis mollitia rem praesentium. Reprehenderit odit placeat architecto! Et a tenetur reprehenderit dignissimos eveniet assumenda deleniti eaque ducimus.
  
